
<div style="margin-left: 350px; position: absolute; margin-top: 110px;">
  <dl class="row">

      <dt class="col-sm-3">Name</dt>
      <dd class="col-sm-9">{{tasksInfo.name}}</dd>
<br><br>
    <hr>

  <dt class="col-sm-3">Description</dt>
  <dd class="col-sm-9">
    <p>{{tasksInfo.description}}</p>
  </dd>
    <br><br>
    <hr>


      <dt class="col-sm-3">Start Date</dt>
      <dd class="col-sm-9">{{tasksInfo.startDate}}</dd>
    <br><br>
    <hr>

      <dt class="col-sm-3">End Date</dt>
      <dd class="col-sm-9">{{tasksInfo.endDate}}</dd>
    <br><br>
    <hr>

      <dt class="col-sm-3">Estimated Due Date</dt>
      <dd class="col-sm-9">{{tasksInfo.estimatedDueDate}}</dd>
    <br><br>
    <hr>

      <dt class="col-sm-3">Actual Due Date</dt>
      <dd class="col-sm-9">{{tasksInfo.actualDueDate}}</dd>

    <br><br>
    <hr>

      <dt class="col-sm-3">Task Priority</dt>
      <dd class="col-sm-9">{{tasksInfo.priority}}</dd>

    <br><br>

    <hr>

      <dt class="col-sm-3">Task Current Status</dt>
      <dd class="col-sm-9">{{tasksInfo.currentStatus}}</dd>

    <br><br>

    <hr>

      <dt class="col-sm-3">Task Type</dt>
      <dd class="col-sm-9">{{tasksInfo.taskType}}</dd>
    <br><br>
    <hr>

  </dl>
</div>
